@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap')


body 
  font-family: 'Montserrat', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-weight: 500
  max-width: 978px
  margin: auto
  padding: 0px 10px
  box-sizing: border-box
  

#root
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  margin: 0px
  padding: 0

code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace


@media only screen and (max-width: 1024px)
  body
    margin: 0
  #root
    align-items: stretch