#collapse
    
    img
        width: 100%
        border-radius: 15px
        height: 200px
        object-fit: cover
    .toggle
        width: 80%
        margin: auto
        margin-top: 20px
        overflow: hidden   
        div
            display: flex
            justify-content: space-between
            align-items: center
            padding: 10px
            background: #FF6060
            border-radius: 10px
            color: white
            h2
                margin: 0px
        > *:last-child
            max-height: 0
            padding: 20px
            margin: 0px
            border-radius: 10px
            text-align: justify
            position: relative
            bottom: 200px
            opacity: 0
            transition: max-height 0.5s ease, opacity 0.5s ease, bottom 0.5s ease
    .showing 
        display: block
        bottom: 0px
        max-height: 1000px
        opacity: 100
        background: #F6F6F6 
            
            

@media only screen and (max-width: 480px) // small screens
    #collapse
        .toggle
            width: 100% 
        img
            height: 100%
