footer
    background: black
    color: white
    position: relative
    text-align: center
    width: 100vw
    padding-top: 50px
    margin-top: 30px
    //margin-bottom: -20px
    box-sizing: border-box

.logo-footer
    width: 100px
    margin: auto
    
@media only screen and (max-width: 1024px)
    footer    
        margin-left: -10px


