$corail: #FF6060
$gris: #E3E3E3

 
.info  
    color: $corail
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    
.host 
    .hostinfo
        margin: 20px 0px
        display: flex
        justify-content: flex-end 

        img
            width: 80px
            border-radius: 50%
        p
            width: 40%

    .stars
        display: flex
        justify-content: space-between
        font-size: 25px


.tags
    display: flex
    flex-wrap: wrap
    align-content: flex-start
    margin-top: 20px

    p
        padding: 10px 20px
        background: $corail
        color: white
        border-radius: 10px
        margin: 5px 5px 0 0
        


        
   
        
@media only screen and (max-width: 480px) // small screens      
    .info
        flex-direction: column
        h3
            margin: 0px
    .tags
        p
            padding: 10px

    .host
        display: flex
        flex-direction: row-reverse
        align-items: center
        justify-content: space-between

        .hostinfo
            margin: 0px
